<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LapX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <LapX.Properties.Settings>
      <setting name="Lanes" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SerialPort" serializeAs="String">
        <value>com0</value>
      </setting>
      <setting name="MinLapTime" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RaceMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PreRaceDelay" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="Lane1ParPin" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="Lane2ParPin" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Lane3ParPin" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Lane4ParPin" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Lane5ParPin" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="UseFastestLapSound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FastestLapFileName" serializeAs="String">
        <value>Sounds\fastestlap.wav</value>
      </setting>
      <setting name="UseDetectedLapSound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DetectLapFileName" serializeAs="String">
        <value>Sounds\lapdetected.wav</value>
      </setting>
      <setting name="UseRedLightSound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RedLightFileName" serializeAs="String">
        <value>Sounds\redlight.wav</value>
      </setting>
      <setting name="UseStartRaceSound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartRaceFileName" serializeAs="String">
        <value>Sounds\startrace.wav</value>
      </setting>
      <setting name="UseRaceFinishedSound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RaceFinishedFileName" serializeAs="String">
        <value>Sounds\racefinished.wav</value>
      </setting>
      <setting name="Lane1Color" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
      <setting name="Lane2Color" serializeAs="String">
        <value>#FFFFA500</value>
      </setting>
      <setting name="Lane3Color" serializeAs="String">
        <value>#FFFFFF00</value>
      </setting>
      <setting name="Lane4Color" serializeAs="String">
        <value>#FF008000</value>
      </setting>
      <setting name="Lane5Color" serializeAs="String">
        <value>#FF0000FF</value>
      </setting>
      <setting name="Lane6Color" serializeAs="String">
        <value>#FFEE82EE</value>
      </setting>
      <setting name="ParallelPortInvertLogic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="JumpStartAction" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PersonalBestFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="UsePersonalBestSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LaneStyle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SamplingInterval" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ShowStats" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SensorType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Lane1SerPin" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Lane2SerPin" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Lane3SerPin" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Lane4SerPin" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="SerialPortInvertLogic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SerialIOPort" serializeAs="String">
        <value>1016</value>
      </setting>
      <setting name="ParallelIOPort" serializeAs="String">
        <value>888</value>
      </setting>
      <setting name="RMSUseInpOut32" serializeAs="String">
        <value>False</value>
      </setting>
    </LapX.Properties.Settings>
  </userSettings>
</configuration>